# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# video generation
/video-frames
/output.*

# video files
*.mp4
*.mov

# image files (but not src/images)
*.png
!src/images/*.png

# image directories (but not src/images)
**/images/
!src/images/
**/image/
!src/image/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
