.plusMinusTable {
  width: 120px;
  height: 120px;
  border-collapse: collapse;
  border-radius: 6px;
  box-sizing: border-box;
  background: #fff;
}

.cell {
  width: 60px;
  height: 60px;
  border: none;
  box-sizing: border-box;
}

.topRowCell {
  border-bottom: 4px solid #222;
}

.rightColumnCell {
  border-left: 4px solid #222;
}

